.view {
    width: 100%;
  }
  
  /* th,
  td {
    margin: 0px 2px 0px 2px !important;
  } */
  
  
  .wrapper {
    /* position: relative; */
    overflow-x: auto;
    /* white-space: nowrap; */
    background-color: white !important;
  }
  
  .sticky-col {
    position: -webkit-sticky;
    position: sticky;
  
  }
  
  .coltm4 {
    background-color: #313b3f !important;
    color: white;
    font-weight: bold;
    text-align: center;
  }
  
  .ak {
    width: 1px !important;
    background-color: white !important;
  }
  
  .first-col {
    left: 0px;
    z-index: 0 !important;
    background-color: white !important;
  
  }
  
  .first-col2 {
    left: 0px;
    z-index: 0 !important;
  
  
  }